.content {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body {
    margin: 0px !important;
    padding: 1vh 1vw !important;
    font-family: "Titillium Web", sans-serif;
    background: no-repeat linear-gradient(to bottom right, #cb464a, #51575e);
    margin: 0;
    min-width: 98vw;
    min-height: 98vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
h1 {
    text-align: center;
}
img {
    width: auto;
    height: 175px;
}
div {
    padding-left: 10px;
    padding-right: 10px;
}