
body {

}
.base .bike {
    display: block;
    width: 494px;
    align-self: center;
    margin: 0 auto;  
}
.base .recycle {
    display: block;
    height: 150pt;
    width: initial;
    margin: 0 auto;
}
.base .lights {
    width: 100%;
    display: block;
    margin: 0 auto;
    align-self: center;
}
img {
    float: none;
    align-self: center;
    align-content: center;
    justify-self: center;
}
.content-home {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
body {
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin: 0px !important;
    padding: 1vh 1vw 1vh 1vw !important;
    font-family: "Titillium Web", sans-serif;
    background: no-repeat linear-gradient(to bottom right, #388f00, #51575e);
    margin: 0;
    width: 96vw;
    min-height: 98vh;
    overflow-x: hidden;
    font-size: 20pt;
}
h1 {
    text-align: center;
    font-size: 30pt;

}
.graphic {
    float: right;
    max-width: 50vw;
}
.us {
    width: 120px;
    height: 160px;
    border-radius: 5px;
    border: #51575e ridge;
    padding: 0 !important;
}
div {
    padding-left: 10px;
    padding-right: 10px;
}
p {
    width: 75vw;
    margin-top: 25px;
    margin-bottom: 25px;
}
.content {
    justify-content: center;
    align-items: center;
}
body > hr {
    display: block;
    height: 1px;
    border: 0;
    border: black 5px dotted;
    width: 90vw;
}
.sources-hr {
    border: none;
    border-top: solid black;
    border-width: 2px;
}
a {
    color: #f6f6f6;
    text-decoration: none;
    align-self: center;
    font-size: 22pt;
}
@media (max-width: 710px){
    .content-home {
        flex-direction: column !important;
        padding-bottom: 15px;
    }
}