.content {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
body {
    margin: 0px !important;
    padding: 1vh 1vw !important;
    font-family: "Titillium Web", sans-serif;
    background: no-repeat linear-gradient(to bottom right, #cb464a, #51575e);
    margin: 0;
    min-width: 98vw;
    min-height: 98vh;
}
h1 {
    text-align: center;
}
img {
    width: auto;
    height: 175px;
    /* border-left: dotted 5px;
    border-right: dotted 5px; */
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.5), 0 -4px 0px 0
    rgba(0, 0, 0, 0.5), 4px 4px 0px 0 rgba(0, 0, 0, 0.5), -4px -4px 0px 0
    rgba(0, 0, 0, 0.5), -4px 4px 0px 0 rgba(0, 0, 0, 0.5), 4px -4px 0px 0
    rgba(0, 0, 0, 0.5), 4px 4px 0px 0 rgba(0, 0, 0, 0.5), 4px -4px 0px 0
    rgba(0, 0, 0, 0.5);
}
div {
    padding-left: 10px;
    padding-right: 10px;
}