.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 22pt;
}
.nav-wrapper .nav-link-wrapper {
    font-size: 22pt;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin: 5px 10px;
    font-size: 0.9rem;

}
.nav-wrapper .nav-link-wrapper {
    color: #f6f6f6;
    text-decoration: none;
}
.nav-wrapper .nav-link-wrapper a:hover {
    color: black;
}
.nav-link-inactive:hover {
    color: black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-wrapper .nav-link-wrapper .nav-link-active {
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;
}
.hours {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours > span {
    text-align: center;
}
@media (max-width: 932px){
    body {
      padding-top: 0% !important;  
      margin-top: 0%;
    }
    .nav-wrapper {
        flex-direction: column;
        padding-bottom: 0pt;
        padding-top: 0%;
    }
    .nav-link-wrapper{
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
    }
}