.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

}
.nav-wrapper .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 0.9rem;

}
.nav-wrapper .nav-link-wrapper a {
    color: #f6f6f6;
    text-decoration: none;
}

.nav-link-inactive:hover {
    color: black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-link-active {
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;
}

