.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 22pt;
}
.navbar {
    padding-top: 0%;
}
.nav-wrapper .nav-link-wrapper {
    font-size: 22pt;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    margin: 5px 10px;
    font-size: 0.9rem;

}
.nav-wrapper .nav-link-wrapper {
    color: #f6f6f6;
    text-decoration: none;
}
.nav-wrapper .nav-link-wrapper a:hover {
    color: black;
}
.nav-link-inactive:hover {
    color: black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-wrapper .nav-link-wrapper .nav-link-active {
    border-bottom: 2px solid black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;
}
.hours {
    color: gray;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours > span {
    text-align: center;
}
#nav1{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
#nav2 {
    position: fixed;
    left: -0.1%;
    z-index: 1;
    background-color: red;
    padding: 0%;
    margin: 0%;
    width: 100%;
    
}
.content {
    padding-top: 30vh !important;
}
#nav2 .nav-link-wrapper {
    padding: 0 5px;
    margin: 0;
}
@media (min-width: 932px){
    body #nav1 {
        height: 0% !important;
        overflow: hidden !important;
        
    }
    .navbar {
        margin-top: -20%;
    }
}
@media (max-width: 932px){
    #nav2 {
        height: 0%;
        overflow: hidden;
    }
    #nav1 {
        padding: 20vh !important;
        margin-top: 20vh;
        height: auto;
    }
    body {
      padding-top: 0% !important;  
      margin-top: 0%;
    }
    .nav-wrapper {
        flex-direction: column;
        padding-bottom: 0pt;
        padding-top: 0%;
    }
    .nav-link-wrapper{
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
    }
}